{% extends 'admin/index.html' %}


{% block contentAdmin %}
<div class="container">
    <h2 class="text-center text-primary">Liste des Commandes</h2>
    
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>User ID</th>
                <th>Total</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if orders %}
                {% for order in orders.items %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.user_id }}</td>
                    <td>{{ order.total }}</td>
                    <td>{{ order.status }}</td>
                
                    <td>
                        <a href="" class="btn btn-info btn-outline-primary voir" data-id="{{ order.user_id }}">
                            Voir
                        </a>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6" class="text-center">Aucune Commande trouvé.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    
    <!-- Pagination -->
    <nav>
        <ul class="pagination">
            {% if orders.has_prev %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('admin.list_order', page=orders.prev_num) }}">Précédent</a>
            </li>
            {% endif %}
            
            {% for page_num in orders.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=3) %}
            {% if page_num %}
            <li class="page-item {% if page_num == orders.page %}active{% endif %}">
                <a class="page-link" href="{{ url_for('admin.list_order', page=page_num) }}">{{ page_num }}</a>
            </li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">...</span></li>
            {% endif %}
            {% endfor %}
            
            {% if orders.has_next %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('admin.list_order', page=orders.next_num) }}">Suivant</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
<script>
    document.querySelectorAll('.voir').forEach(function(button) {
        button.addEventListener('click', function(e) {
            e.preventDefault(); 
            const id = parseInt(this.getAttribute('data-id')); 
            window.location.href = '/admin/order/details/' + id;
        });
    });
</script>
{% endblock %}